img {
    height: 50px;
    cursor: pointer;
    transition: 100ms;
}

.soctxt {
    position: relative;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    bottom: 14px;
}

#outlook {
    height: 50px;
}

.imgbutton {
    text-decoration: none;
}

img:hover {
    position: relative;
    transform: scale(115%);
    transition: 100ms;
}

#buttonswrapper {
    margin-bottom: 15px;
}